<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var app = angular.module('app', []);
app.controller('Ctrl', function($scope, $http, $interval) {
  $scope.data = [];
  $scope.dist = [];
  $scope.liveUrl = "";
  $scope.now = Date.now();
    $interval(function(){
      $scope.now = Date.now();
    },1000);
  // hot reload
    $interval(function(){
        if ($scope.selectedCamera !== undefined){
            $scope.liveUrl = 'https://api.notis.vn/v3/' + $scope.selectedCamera.liveUrl + '?t=' + Date.now();
        }
    }, 5000);
  //
  $http.get("https://api.notis.vn/v3/cameras/findall")
    .then(function(res){
      $scope.data = res.data;
      $scope.data.forEach(function(e){
          var existed = false;
          for (let i = 0; i < $scope.dist.length; i++){
              if ($scope.dist[i].dist === e.dist){
                if ($scope.dist[i].list_cams === undefined)
                    $scope.dist[i].list_cams = [];
                $scope.dist[i].list_cams.push({
                    name: e.name,
                    liveUrl: e.liveviewUrl
                });
                existed = true;
                break;
              }
          }
          if (!existed){
              $scope.dist.push({
                  dist: e.dist,
                  list_cams: [{
                      name: e.name,
                      liveUrl: e.liveviewUrl
                  }]
              })
          }
      });
  })
  .catch(function(err){ console.log(err); });
});    
</script>
    <title>Saigon Camera View</title>
  </head>
  <body ng-app="app" ng-controller="Ctrl">
    <div>
      {{now}}
    </div>
    <div>
        <select ng-model="selectedDist" 
          ng-options="d.dist for d in dist">
        </select>
        <select ng-model="selectedCamera"
          ng-options="c.name for c in selectedDist.list_cams">   
        </select>
    </div>
    <div>
      <img ng-src="{{ liveUrl }}" />
    </div>
    
  </body>
</html>
