<!DOCTYPE html>
<html ng-app="app">
<head>
<title>16CNTN Election</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script>
        angular.module('app', [])
        .controller('MainCtrl', function($scope){
            $scope.data=[
            {
                _id:1,
                name:"Mai Nguyen Anh Vu",
                count:0
            },
            {
                _id:2,
                name:"Huynh Ngoc Dinh",
                count:0
            },
            {
                _id:3,
                name:"Lam Cuong Dat",
                count:0
            },
            {
                _id:4,
                name:"Phan Quoc Tuan",
                count:0
            }
        ]
        $scope.inc = function(p, i){
            p.count += i;
        }
        $scope.incWithId = function(id, c){
            for (i=0; i<$scope.data.length;i++)
                if ($scope.data[i]._id == id){
                    $scope.data[i].count += c;
                    return true;
                }
        return false;
        }
        $scope.incData = function(){
            if ($scope.input === "")
                alert("Invalid Input");
            else {
                for (i=0; i < $scope.input.length; i++)
                    if ($scope.incWithId($scope.input[i], 1) == false){
                        alert("Invalid " + $scope.input[i] + "\nData: " + $scope.input);
                        break;
                    }
                $scope.input = "";
            }
        }
        })
    
    </script>
</head>
<body ng-controller="MainCtrl">
    <h1>Ban Kiểm Phiếu - 16CNTN</h1>
    <hr>
    <div class="row">
    <div class="col-md-6">
        <input type="text" ng-model="input" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-danger" ng-click="incData()">Enter</button>
    </div>
    </div>
    <br>
    <table class="table">
    	<thead>
        <tr>
            <th>#</th>
            <th width=40%>Tên</th>
            <th>Số phiếu</th>
            <th width=15%>+</th>
            <th width=5%>-</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in data">
                <td>{{p._id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.count}}</td>
                <td><button type="button" class="btn btn-primary btn-lg" ng-click="inc(p, 1)">++++++</button></td>
                <td><button type="button" class="btn btn-danger btn-lg" ng-click="inc(p, -1)">-</button></td>
                <td></td>
            </tr>
		</tbody>
    </table>
</body>

</html>
